.body {
    /* Background-image: url(css/images/background.jpg);
    /* background-size: cover; */ */
}


header {

    position: absolute;
    width: 100%;
    
}

.navbar {
    background-color: black;
}
.navbar-brand {

    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
    opacity: .8;
}

.nav-link {
    font-family: 'Ultra', serif;
    font-size: 20px;
}

.pic1 {

    width: 225px;
    
}

.container {
  
    
}

.card {
    text-align: justify;
    align-content: center;
   
}

.card-title {
    text-align: center;
    font-family: 'Audiowide', cursive; 
   
    
}

/* .nav-link-right {
    justify-content: right;
} */

.link {
   border: 1px;
   border-radius: 4px;
   padding: 5px;
   width: 50px;
   justify-items: right;
}

.link:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.twitter {
    border: 1px;
    border-radius: 1px;
    padding: 4px;
    width: 62px;
    justify-items: right;
}

.twitter:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.email {
    border: 1px;
    border-radius: 1px;
    padding: 4px;
    width: 50px;
    justify-items: right;
}

.email:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
 
.github {
    border: 1px;
    border-radius: 1px;
    padding: 4px;
    width: 50px;
    justify-items: right;
}

.github:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
}

.container{
    text-align: center;
}


.row {
    text-align: center;
}

.projects {
    text-align: center;
    
}

.list {
    list-style-type: none;
}

.contacts {
    list-style-type: none;
}

